html {
  font-family: 'Titillium Web', sans-serif;
  color: white;
  background-image: url(../images/space.jpg);
}
#title {
  color: orangered;
  font-size: 5em;
  text-align: center;
  background: none;
  border: 1px solid white;
  margin-left: 120px;
  margin-right: 120px;
}
#link{
  color: orangered;
}
table, th, td{
  border: 1px solid white;
  text-align: center;
  background: black;
  margin-left: 120px;
  margin-right: 120px;
  padding: 9px;
  border-collapse: collapse;
  margin-bottom: 100px;
  margin-top: 50px;
}
th{
  font-size: 20px;
}
.parameter{
  text-align: left;
}
.name{
  font-size: 25px;
  text-decoration: underline;
}
footer{
  text-align: center;
  margin-bottom: 80px;
  line-height: 9px;
  font-size: 20px;
  background: none;
}
